# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node.js
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# React Native
android/
ios/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Firebase
firebase-debug.log

# Metro
.metro-health-check*

# macOS
.DS_Store

# Sertifikalar ve anahtarlar
*.pem

# Ortam dosyaları
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Diğer
*.orig.*
*.log

# VSCode
.vscode/

# Test ve coverage
coverage/
jest-*

# @end expo-cli