# Node.js & Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.yarn-integrity
.pnp.cjs
.pnp.loader.mjs



# Logs
logs/
*.log

# Runtime / PIDs
pids/
*.pid
*.seed
*.pid.lock

# Expo
.expo/
.expo-shared/
web-build/
expo-env.d.ts

# React Native
android/
ios/
*.jks
*.keystore
*.p8
*.p12
*.mobileprovision

# Android build / caches
android/.gradle/
android/app/build/
.gradle/
local.properties

# iOS / Xcode
ios/Pods/
ios/build/
xcuserdata/
*.xcuserstate
# *.xcworkspace genelde commit edilir (workspace ayarlarına göre)

# Build artifacts
dist/
build/
coverage/
*.tsbuildinfo
.vscode-test/

# Firebase
firebase-debug.log
.firebase/
# Firebase Emulator verileri
.firebase/emulators/
# Functions build outputs
functions/node_modules/
functions/lib/
functions/dist/
.runtimeconfig.json
# Servis hesabı anahtarları (mutlak ignore edilsin)
*service-account*.json
*serviceAccountKey*.json

# Metro
.metro-cache/
/.metro-health-check*

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Certificates and keys
*.pem
*.key

# Environment files (ignore, but allow example)
.env
.env.*
!.env.example

# IDE & Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test & Coverage
coverage/
jest/
jest-coverage/
nyc_output/

# Buck build (React Native)
buck-out/
\.buckd/

# Android Studio / IntelliJ
*.iml

# Crashlytics
crashlytics-build.properties

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Google Services config (öneri: private repo değilseniz bunları ignore edin)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/GoogleService-Info.plist
# Diğer geçici dosyalar
*.bak